<div class="b-testcard__body-question">
  <h5>Выберите из списка основные итоги экономического развития России в XVIII в.</h5>
</div>
<div class="b-testcard__body-answers">
  <ul class="b-testcard__body-answers__several-answers">
    <li>
      <button class="btn btn-option">1</button>
      <span>Проведение переписи населения</span>
    </li>
    <li>
      <button class="btn btn-option">2</button>
      <span>Введение десятины</span>
    </li>
    <li>
      <button class="btn btn-option">3</button>
      <span>Введение пятины</span>
    </li>
    <li>
      <button class="btn btn-option">4</button>
      <span>Полюдье</span>
    </li>
  </ul>
</div>