<div class="b-testcard__body-question">
  <h5>Какой из храмов был создан когда в России правил царь , изображенный на портрете?</h5>
  <img src="http://www.lorempixum.com/800/600/cats" alt="">
</div>
<div class="b-testcard__body-answers">
  <ul class="b-testcard__body-answers__single-answer-with-images">
    <li>
      <button class="btn btn-option">1</button>
      <div class="img-wrapper"><img src="http://www.lorempixum.com/640/480/cats" alt=""></div>
    </li>
    <li>
      <button class="btn btn-option">2</button>
      <div class="img-wrapper"><img src="http://www.lorempixum.com/641/481/cats" alt=""></div>
    </li>
    <li>
      <button class="btn btn-option">3</button>
      <div class="img-wrapper"><img src="http://www.lorempixum.com/642/482/cats" alt=""></div>
    </li>
    <li>
      <button class="btn btn-option">4</button>
      <div class="img-wrapper"><img src="http://www.lorempixum.com/643/483/cats" alt=""></div>
    </li>
    <li>
      <button class="btn btn-option">5</button>
      <div class="img-wrapper"><img src="http://www.lorempixum.com/648/484/cats" alt=""></div>
    </li>
  </ul>
</div>