<div class="b-testcard__body-question">
  <h5>Прочтите отрывок и определите, о каких событиях идет речь.</h5>
  <p>&laquo;Внутри России началось сочувственное славянам движение... 12 апреля ... Александр Николаевич подписал манифест... Война была трудная. Приходилось воевать в Азии и в Европе. Одна Плевна стоила нам огромных жертв, но в конце концов она была взята. Русские войска в плотную подошли к Константинополю&raquo;.</p>
</div>
<div class="b-testcard__body-answers">
  <ul class="b-testcard__body-answers__single-answer">
    <li>
      <button class="btn btn-option">1</button>
      <span>Проведение переписи населения</span>
    </li>
    <li>
      <button class="btn btn-option">2</button>
      <span>Введение десятины</span>
    </li>
    <li>
      <button class="btn btn-option">3</button>
      <span>Введение пятины</span>
    </li>
    <li>
      <button class="btn btn-option">4</button>
      <span>Полюдье</span>
    </li>
  </ul>
</div>