<div class="b-testcard__body-question">
  <h5>Напишите пропущенное понятие (термин).</h5>
  <table>
    <thead>
      <tr>
        <th class="text-nowrap">Типы избирательных систем</th>
        <th class="text-nowrap">Признаки</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="uticon uticon-question"</td>
        <td>От каждого избирательного округа избирается один депутат, который набрал большинство голосов.</td>
      </tr>
      <tr>
        <td>Пропорциональная</td>
        <td>Места в представленном органе распределяются в соотвествии с колличеством голосов, поданных за партийный срок.</td>
      </tr>
    </tbody>
    <tr>
  </table>
</div>
<div class="b-testcard__body-answers">
  <input class="b-testcard__body-answers__text-field" type="text" name="answer" placeholder="Впишите прощенное">
</div>
