<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Unitest App</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/vendor/waves.min.js"></script>
    <script src="/vendor/chart.min.js"></script>
    <script src="/vendor/jquery.min.js"></script>
    <script src="/vendor/bootstrap.min.js"></script>
    <script src="/js/jquery.achievement-road.js"></script>
  </head>
  <body>
    <div class="g-navbar beta alarm">
      <div class="container">
        <button type="button" class="g-navbar__btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="g-navbar__brand" href="/">Unitest</a>
        <div class="g-navbar__nav-collapse collapse">
          <div class="g-navbar__user">
            {{#if isauth}}
              <div class="g-navbar__user-alert b-dropdown" data-dropdown>
                <a class="b-dropdown__toggle" href="">
                  <i class="uticon uticon-alert"></i>
                  <i class="uticon uticon-alert-alarm"></i>
                </a>
                <ul class="b-dropdown__menu">
                  <li>
                    <p><a href="">Eugene</a> добавил вас в друзья</p>
                    <p class="text-small">Авг 27 в 12:45</p>
                  </li>
                  <li>
                    <p>Ура! Появился новый курс по предмету <a href="">Информатика и ИКТ</a></p>
                    <p class="text-small">Авг 27 в 12:45</p>
                  </li>
                  <li>
                    <p>Отличная новость. Ваш сумарный опыт достиг 10 000 очков. Так держать!</p>
                    <p class="text-small">Авг 27 в 12:45</p>
                  </li>
                </ul>
              </div>
              <div class="g-navbar__user-dropdown b-dropdown" data-dropdown>
                <a class="b-dropdown__toggle" href="">
                  <img src="/img/avatar.png" alt="">eremeyev<b class="caret"></b>
                </a>
                <ul class="b-dropdown__menu">
                  <li><a href="">Профиль</a></li>
                  <li><a href="">Статистика</a></li>
                  <li><a href="">Моя подписка</a></li>
                  <li><a href="">Выйти</a></li>
                </ul>
              </div>
            {{else}}
              <a class="btn btn-link" href="">Войти</a>
              <a class="btn" href="">Получить аккаунт</a>
              <div class="g-navbar__user-dropdown b-dropdown" data-dropdown>
                <a class="b-dropdown__toggle" href="">
                  <img class="default-avatar" src="/img/default-avatar.gif" alt=""><b class="caret"></b>
                </a>
                <ul class="b-dropdown__menu">
                  <li><a href="">Статистика</a></li>
                  <li><a href="">Получить акаунт</a></li>
                </ul>
              </div>
            {{/if}}
          </div>
          <ul class="g-navbar__nav">
            <li>
              <a href="/courses">Курсы</a>
            </li>
            <li>
              <a href="/tasks">Задания</a>
            </li>
            <li>
              <a href="/cabinet">Мой кабинет</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="g-body">
{{{body}}}
    </div>
    <div class="g-footer">
      <div class="container">
        <ul class="g-footer__menu pull-left">
          <li><span>&copy;&nbsp;&laquo;Юнитест&raquo;,&nbsp;2015</span></li>
          <li><a href="."><span>О проекте</span></a></li>
          <li><a href="."><span>Обратная связь</span></a></li>
        </ul>
        <ul class="g-footer__menu pull-right">
          <li><a href="."><i class="uticon uticon-apple"></i><span>Приложение</span></a></li>
          <li><a href="."><i class="uticon uticon-yt"></i><span>Youtube канал</span></a></li>
          <li><a href="."><i class="uticon uticon-vk"></i><span>Группа Вконтакте</span></a></li>
        </ul>
      </div>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>
