<div class="container m-course-buy">
  <div class="g-content">
    <h1>Оформить подписку на курсы Unitest,<br>чтобы сдать ЕГЭ и поступить в вуз мечты</h1>
    <h5>Вы хотите купить:</h5>
    <ul class="b-courses-list">
      <li>
        <div class="b-courses-list__img">
          <img src="/img/courses/history.png" alt="">
        </div>
        <div class="b-courses-list__label">
          <span>История России</span>
        </div>
        <div class="b-courses-list__hint">
          <span>390 руб/мес</span>
        </div>
        <div class="b-courses-list__toolbar">
          <a class="btn btn-gray btn-round" href="/courses/1/buy"><i class="uticon uticon-times"></i></a>
        </div>
      </li>
      <li>
        <div class="b-courses-list__img">
          <img src="/img/courses/math.png" alt="">
        </div>
        <div class="b-courses-list__label">
          <span>Математика</span>
        </div>
        <div class="b-courses-list__hint">
          <span>390 руб/мес</span>
        </div>
        <div class="b-courses-list__toolbar">
          <a class="btn btn-gray btn-round" href="/courses/1/buy"><i class="uticon uticon-times"></i></a>
        </div>
      </li>
      <li>
        <div class="b-courses-list__img">
          <img src="/img/courses/essay.png" alt="">
        </div>
        <div class="b-courses-list__label">
          <span>Итоговое сочинение</span>
        </div>
        <div class="b-courses-list__hint">
          <span>390 руб/мес</span>
        </div>
        <div class="b-courses-list__toolbar">
          <a class="btn btn-gray btn-round" href="/courses/1/buy"><i class="uticon uticon-times"></i></a>
        </div>
      </li>
    </ul>
    <form class="b-courses-buy" action="/courses/1/buy/select/complete">
      <div class="b-courses-buy__container">
        <div class="b-courses-buy__price">
          <span class="text-muted">К оплате:</span>
          <span>590 руб. в месяц</span>
        </div>
        <div class="b-courses-buy__sale">
          <span class="text-small">Вы экономите</span>
          <span>190 руб.</span>
        </div>
        <div class="b-courses-buy__toolbar">
          <button class="btn btn-warning" type="submit">ОФОРМИТЬ ПОДПИСКУ</button>
        </div>
      </div>
      <div class="b-courses-buy__hint">
        <p><strong>Важно:</strong> При оформлении новой подписки старая<br>будет отменена без возврата оплаченного времени.</p>
      </div>
    </form>
    <h5 class="text-center">Вы так же можете подписаться на эти курсы</h5>
    <ul class="b-courses-list">
      <li>
        <div class="b-courses-list__img">
          <img src="/img/courses/r-l.png" alt="">
        </div>
        <div class="b-courses-list__label">
          <span>Русский язык</span>
        </div>
        <div class="b-courses-list__hint">
          <span>390 руб/мес</span>
        </div>
        <div class="b-courses-list__toolbar">
          <a class="btn btn-success" href="">Выбрать</a>
        </div>
      </li>
      <li>
        <div class="b-courses-list__img">
          <img src="/img/courses/cs.png" alt="">
        </div>
        <div class="b-courses-list__label">
          <span>Информатика и ИКТ</span>
        </div>
        <div class="b-courses-list__hint">
          <span>390 руб/мес</span>
        </div>
        <div class="b-courses-list__toolbar">
          <a class="btn btn-success" href="">Выбрать</a>
        </div>
      </li>
    </ul>
  </div>
</div>
