<div class="container m-courses">
  <div class="g-content">
    <h2>Выберите предмет</h2>
    <div class="m-courses__row">
      <div class="m-courses__col">
        <div class="m-courses__cell mr-bluedark">
          <div class="m-courses__cell-container">
            <div class="m-courses__cell-header">
              <a href="/courses/1">
                <img src="/img/img-course-1.png" alt="История России">
              </a>
            </div>
            <div class="m-courses__cell-body">
              <h4>История России</h4>
              <ul>
                <li>
                  <img src="/img/img-hat.png" alt="">
                  <span>20 уроков</span>
                </li>
                <li>
                  <img src="/img/img-dumbbell.png" alt="">
                  <span>150 заданий</span>
                </li>
                <li>
                  <img src="/img/img-play.png" alt="">
                  <span>20 часов</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="m-courses__col">
        <div class="m-courses__cell mr-red">
          <div class="m-courses__cell-container">
            <div class="m-courses__cell-header">
              <a href="/courses/1">
                <img src="/img/img-course-2.png" alt="Математика">
              </a>
            </div>
            <div class="m-courses__cell-body">
              <h4>Математика</h4>
              <p>2/35 УРОКОВ</p>
              <div class="simpleprogress">
                <div class="bar" style="width: 75%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-courses__col">
        <div class="m-courses__cell mr-pink">
          <div class="m-courses__cell-container">
            <div class="m-courses__cell-header">
              <a href="/courses/1">
                <img src="/img/img-course-3.png" alt="Итоговое сочинение">
              </a>
            </div>
            <div class="m-courses__cell-body">
              <h4>Итоговое сочинение</h4>
              <ul>
                <li>
                  <img src="/img/img-hat.png" alt="">
                  <span>20 уроков</span>
                </li>
                <li>
                  <img src="/img/img-dumbbell.png" alt="">
                  <span>150 заданий</span>
                </li>
                <li>
                  <img src="/img/img-play.png" alt="">
                  <span>20 часов</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-courses__row">
      <div class="m-courses__col">
        <div class="m-courses__cell mr-pink">
          <div class="m-courses__cell-container">
            <div class="m-courses__cell-new"><span>Новый</span></div>
            <div class="m-courses__cell-header">
              <a href="/courses/1">
                <img src="/img/img-course-5.png" alt="Русский язык">
              </a>
            </div>
            <div class="m-courses__cell-body">
              <h4>Русский язык</h4>
              <ul>
                <li>
                  <img src="/img/img-hat.png" alt="">
                  <span>20 уроков</span>
                </li>
                <li>
                  <img src="/img/img-dumbbell.png" alt="">
                  <span>150 заданий</span>
                </li>
                <li>
                  <img src="/img/img-play.png" alt="">
                  <span>20 часов</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="m-courses__col">
        <div class="m-courses__cell mr-blue">
          <div class="m-courses__cell-container">
            <div class="m-courses__cell-header">
              <a href="/courses/1">
                <img src="/img/img-course-4.png" alt="Информатика и ИКТ">
              </a>
            </div>
            <div class="m-courses__cell-body">
              <h4>Информатика и ИКТ</h4>
              <ul>
                <li>
                  <img src="/img/img-hat.png" alt="">
                  <span>20 уроков</span>
                </li>
                <li>
                  <img src="/img/img-dumbbell.png" alt="">
                  <span>150 заданий</span>
                </li>
                <li>
                  <img src="/img/img-play.png" alt="">
                  <span>20 часов</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2>Предметы в разработке</h2>
    <div class="m-courses__row">
      <div class="m-courses__col">
        <div class="m-courses__cell mr-orange">
          <div class="m-courses__cell-container">
            <div class="m-courses__cell-header">
              <a>
                <img src="/img/img-course-6.png" alt="Физика">
              </a>
            </div>
            <div class="m-courses__cell-body">
              <h4>Физика</h4>
              <div class="m-courses__cell-toolbar">
                <button class="btn btn-success" type="button">Сообщить когда появится</button>
                <span class="text-soon">СКОРО</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-courses__col">
        <div class="m-courses__cell mr-green">
          <div class="m-courses__cell-container">
            <div class="m-courses__cell-header">
              <a>
                <img src="/img/img-course-7.png" alt="Биология">
              </a>
            </div>
            <div class="m-courses__cell-body">
              <h4>Биология</h4>
              <div class="m-courses__cell-toolbar">
                <button class="btn btn-success" type="button">Сообщить когда появится</button>
                <span class="text-soon">СКОРО</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
