<div class="container m-course-lesson">
  <div class="g-content">
    <ul class="b-steps">
      <li class="complete"></li><li class="current"></li><li></li>
    </ul>
    <h1 class="text-center">2. Решите базовые задания</h1>
    <div class="m-course-lesson__card">
      <div class="m-course-lesson__card-body">
        <h2>Пройдите, чтобы закрепить знания из видео на практике</h2>
        <div class="b-row">
          
        </div>
      </div>
      <div class="m-course-lesson__card-footer">
        <a class="btn btn-success" href="/tasks/single-answer">Начать</a>
      </div>
    </div>
  </div>
</div>
