<div class="container m-course">
  <div class="clearfix">
    <div class="g-sidebar">
      <div class="b-course-sidebar-wrapper">
        <h4>Дневная норма</h4>
        <div class="b-user-progress">
          <div class="b-circular-progress">
            <span><span class="text-large">20/100</span><br>опыта</span>
            <div class="c-100 p-20">
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span17">
              <p class="text-success">2342</p>
              <p>опыта всего получено</p>
            </div>
            <div class="span17 offset1">
              <p class="text-success">2</p>
              <p>дня занятий подряд</p>
            </div>
          </div>
        </div>

        
        <canvas class="b-chart" width="268" height="200"
          data-chart="{
            'type': 'line',
            'labels': ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'],
            'datasets': [{'data': [100, 100, 50, 50, 25, 0, 50]}]
          }"
        ></canvas>
        <p class="text-muted">Занимайся 7 дней подряд<br>и получи <a href="">подарок</a></p>
      </div>
      <div class="b-course-sidebar-wrapper b-course-sidebar-wrapper__lock">
        <img src="/img/lock.png" alt="">
        <p>Откройте все уроки<br>этого курса<br>за <span class="text-success">399 руб</span> в месяц</p>
        <a class="btn btn-warning btn-half-round" href="/courses/1/buy">Открыть</a>
      </div>
    </div>
    <div class="g-content">
      <div class="b-course-content-header">
        <h1>
          <span class="pull-right">24%</span>
          <img src="/img/img-course-1.png" alt="">
          <span class="text">Информатика и икт</span>
        </h1>
      </div>
      <div class="b-course-content-body">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#course-program" data-toggle="tab"><span data-waves="waves-float">Программа</span></a>
          </li>
          <li>
            <a href="#course-proceedings" data-toggle="tab"><span data-waves="waves-float">Материалы</span></a>
          </li>
          <li><a href="#course-about" data-toggle="tab"><span data-waves="waves-float">О курсе</span></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="course-program">
            <h4>Начальный блок</h4>
            <div class="b-achievement-road" data-achievement-road>
              <canvas class="b-achievement-road__canvas"></canvas>
              <div class="b-achievement-road__rows">
                <div class="b-row">
                  <div class="b-col-4 b-offset-4">
                    <div class="b-achievement sep-0" data-achievement-road-step="1">
                      <a href="/courses/1/1"><img src="/img/img-achievement-1.png" alt=""></a>
                      <span>Введение</span>
                    </div>
                  </div>
                </div>
                <div class="b-row">
                  <div class="b-col-4">
                    <div class="b-achievement sep-3" data-achievement-road-step="2">
                      <a href="/courses/1/1"><img src="/img/img-achievement-2.png" alt=""></a>
                      <span>Общество</span>
                    </div>
                  </div>
                  <div class="b-col-4">
                    <div class="b-achievement sep-3" data-achievement-road-step="3">
                      <a href="/courses/1/1"><img src="/img/img-achievement-7.png" alt=""></a>
                      <span>Толкование незнакомых терминов</span>
                    </div>
                  </div>
                  <div class="b-col-4">
                    <div class="b-achievement sep-2" data-achievement-road-step="4">
                      <a href="/courses/1/1"><img src="/img/img-achievement-6.png" alt=""></a>
                      <span>Социальные институты</span>
                    </div>
                  </div>
                </div>
                <div class="b-row">
                  <div class="b-col-4">
                    <div class="b-achievement sep-3" data-achievement-road-step="7">
                      <a href="/courses/1/1"><img src="/img/img-achievement-3.png" alt=""></a>
                      <span>Тест</span>
                    </div>
                  </div>
                  <div class="b-col-4">
                    <div class="b-achievement sep-3" data-achievement-road-step="6">
                      <a href="/courses/1/1"><img src="/img/img-achievement-4.png" alt=""></a>
                      <span>Религия. Мораль.</span>
                    </div>
                  </div>
                  <div class="b-col-4">
                    <div class="b-achievement sep-2" data-achievement-road-step="5">
                      <a href="/courses/1/1"><img src="/img/img-achievement-5.png" alt=""></a>
                      <span>Письменное задание</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-warning btn-half-round" type="button" disabled>Контрольное тестирование</button>
            <hr>
            <h4>Расширенный блок</h4>
            <div class="b-achievement-road" data-achievement-road>
              <canvas class="b-achievement-road__canvas"></canvas>
              <div class="b-achievement-road__rows">
                <div class="b-row">
                  <div class="b-col-4">
                    <div class="b-achievement sep-3" data-achievement-road-step="1">
                      <a href="/courses/1/1"><img src="/img/img-achievement-8.png" alt=""></a>
                      <span>Общество</span>
                    </div>
                  </div>
                  <div class="b-col-4">
                    <div class="b-achievement sep-3 disabled" data-achievement-road-step="2">
                      <a><img src="/img/img-achievement-1g.png" alt=""></a>
                      <span>Толкование незнакомых терминов</span>
                    </div>
                  </div>
                  <div class="b-col-4">
                    <div class="b-achievement sep-2 disabled" data-achievement-road-step="3">
                      <a><img src="/img/img-achievement-4g.png" alt=""></a>
                      <span>Социальные институты</span>
                    </div>
                  </div>
                </div>
                <div class="b-row">
                  <div class="b-col-4">
                    <div class="b-achievement sep-3 disabled" data-achievement-road-step="6">
                      <a><img src="/img/img-achievement-3g.png" alt=""></a>
                      <span>Тест</span>
                    </div>
                  </div>
                  <div class="b-col-4">
                    <div class="b-achievement sep-3 disabled" data-achievement-road-step="5">
                      <a><img src="/img/img-achievement-4g.png" alt=""></a>
                      <span>Религия. Мораль.</span>
                    </div>
                  </div>
                  <div class="b-col-4">
                    <div class="b-achievement sep-2 disabled" data-achievement-road-step="4">
                      <a><img src="/img/img-achievement-6g.png" alt=""></a>
                      <span>Познание</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="btn btn-half-round course-program__btn-complete" href="">
              <span>Тестирование пройдено</span>
              <span class="show-by-hower">Пройти тест повторно</span>
            </a>
          </div>
          <div class="tab-pane" id="course-proceedings">
            <ul class="b-proceedings-list">
              <li>
                <a href="">
                  <span>Строение личности по Маслоу. Схема.</span>
                  <span class="pull-right">
                    <span class="badge red">PDF</span>
                    <span>0,4 мб</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="">
                  <span>История России в комиксах</span>
                  <span class="pull-right">
                    <span class="badge badge-important">WORD</span>
                    <span>2,4 мб</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="">
                  <span>Клименко А.В., Румынина В.В., Обществознание</span>
                  <span class="pull-right">
                    <span class="badge">PDF</span>
                    <span>8,4 мб</span>
                  </span>
                </a>
              </li>
            </ul>
            <a class="btn btn-link" href=""><i class="uticon uticon-download"></i>&nbsp;Скачать всё</a>
          </div>
          <div class="tab-pane" id="course-about">
            <ul class="table-list">
              <li>
                <img src="/img/img-tv.png" alt="">
                <span>20 уроков</span>
              </li>
              <li>
                <img src="/img/img-clock.png" alt="">
                <span>10 часов</span>
              </li>
              <li>
                <img src="/img/img-note.png" alt="">
                <span>500 заданий</span>
              </li>
              <li>
                <img src="/img/img-star.png" alt="">
                <span>60 балов ЕГЭ</span>
              </li>
            </ul>
            <p>Данный курс предназначен для выпускников старших классов, осуществляющих подготовку к ЕГЭ по обществознанию в 2015 году. В рамках курса, в соответствии с кодификатором, будут рассмотрены все темы экзамена. Вы узнаете как построить свою подготовку.</p>
            <h5>Преподаватель курса</h5>
            <div class="ausercard">
              <img src="/img/avatar.png" alt="Летто Джаред">
              <span>Летто Джаред</span>
            </div>
            <p>Данный курс предназначен для выпускников старших классов, осуществляющих подготовку к ЕГЭ по обществознанию в 2015 году. В рамках курса, в соответствии с кодификатором, будут рассмотрены все темы экзамена. Вы узнаете как построить свою подготовку.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
