<div class="container m-course-buy">
  <div class="g-content">
    <h1>Подписка на курсы</h1>
    <h6>Оформлена 12 января 2015г. Следующий платеж - 590 руб. через 17 дней.</h6>
    <h5>Вы подписаны на 2 курса.</h5>
    <ul class="b-courses-list">
      <li>
        <div class="b-courses-list__img">
          <img src="/img/courses/history.png" alt="">
        </div>
        <div class="b-courses-list__label">
          <span>История России</span>
        </div>
        <div class="b-courses-list__hint">
          <span class="text-success">пройдено 67%</span>
        </div>
        <div class="b-courses-list__toolbar">
          <a class="btn btn-gray" href="">Отменить</a>
        </div>
      </li>
      <li>
        <div class="b-courses-list__img">
          <img src="/img/courses/math.png" alt="">
        </div>
        <div class="b-courses-list__label">
          <span>Математика</span>
        </div>
        <div class="b-courses-list__hint">
          <span class="text-success">пройдено 67%</span>
        </div>
        <div class="b-courses-list__toolbar">
          <a class="btn btn-gray" href="">Отменить</a>
        </div>
      </li>
      <li>
        <div class="b-courses-list__img">
          <img src="/img/courses/essay.png" alt="">
        </div>
        <div class="b-courses-list__label">
          <span>Итоговое сочинение</span>
        </div>
        <div class="b-courses-list__hint">
          <span class="text-success">пройдено 67%</span>
        </div>
        <div class="b-courses-list__toolbar">
          <a class="btn btn-gray" href="">Отменить</a>
        </div>
      </li>
    </ul>
    <h5 class="text-center">Вы так же можете подписаться на эти курсы</h5>
    <ul class="b-courses-list">
      <li>
        <div class="b-courses-list__img">
          <img src="/img/courses/r-l.png" alt="">
        </div>
        <div class="b-courses-list__label">
          <span>Русский язык</span>
        </div>
        <div class="b-courses-list__hint">
          <span>390 руб/мес</span>
        </div>
        <div class="b-courses-list__toolbar">
          <a class="btn btn-success" href="/courses/1/buy/select">Выбрать</a>
        </div>
      </li>
      <li>
        <div class="b-courses-list__img">
          <img src="/img/courses/cs.png" alt="">
        </div>
        <div class="b-courses-list__label">
          <span>Информатика и ИКТ</span>
        </div>
        <div class="b-courses-list__hint">
          <span>390 руб/мес</span>
        </div>
        <div class="b-courses-list__toolbar">
          <a class="btn btn-success" href="/courses/1/buy/select">Выбрать</a>
        </div>
      </li>
    </ul>
  </div>
</div>
