<div class="b-testcard">
  <div class="b-testcard__header">
    <h3>Задание&nbsp;<span class="text-muted">42/22</span></h3>
    <button class="btn btn-link" type="button">Завершить</button>
    <div class="b-testcard__header-progress">
      <ul class="progress"><li class="a"><li class="a"><li class="a"><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li></ul>
    </div>
  </div>
  <div class="b-testcard__body">
{{> (partial)}}
  </div>
  <div class="b-testcard__footer">
    <button class="btn btn-large btn-link btn-link-gray pull-right" type="button">:</button>
    <button class="btn btn-large btn-link btn-large pull-right" type="button">Показать ответ</button>
    <button class="btn btn-large btn-primary" type="button">Пропустить</button>
    <span class="b-testcard__footer-hint">Выберите 3 варианта<br>из списка ответов</span>
  </div>
</div>
