@import "f-variables.less";
@import "f-mixins.less";

@import "f-reset.less";

@import "f-scaffolding.less";
@import "f-grid.less";
@import "f-layouts.less";

@import "f-type.less";

@import "f-uticons.less";

@import "f-component-animations.less";

@import "f-buttons.less";
@import "f-progress-bars.less";

html, body {
  background: #edefed;
}

.text-muted {
  color: @mutedColor !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-nowrap {
  white-space: nowrap;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

@import "g-navbar.less";
@import "g-body.less";

@import "b-testcard.less";

/* */
